<!DOCTYPE html5>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>匯率輸入</title>
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
    <link type="text/css" rel="stylesheet" href="https://cdn.bootcss.com/mui/3.7.1/css/mui.min.css" />
    <script src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
    <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
</head>

<body>
    <!-- 導航標題 -->
    <header class="mui-bar mui-bar-nav">
        <a class="mui-icon mui-icon-home mui-pull-left " href="index.html"></a>
        <h1 class="mui-title">匯率輸入</h1>
    </header>

    <div id="app">
        <div class="card-body" style="padding-top: 49px">
            <b-card title="匯率輸入" img-src="img/110-1024x80.jpg" style="max-width: 80rem;">
                <!-- <b-card title="匯率輸入" img-src="https://picsum.photos/1024/80/?image=110" style="max-width: 80rem;"> -->
                <b-card-text>
                    匯率輸入
                </b-card-text>
                <!-- 鏈結按鈕 -->
                <!-- <a href="#" class="card-link">Card link</a> -->
                <!-- <b-link href="#" class="card-link">Another link</b-link> -->
                <!-- <b-button href="#" variant="primary">Go somewhere</b-button> -->
            </b-card>

            <div style="margin-top:20px;">
                <!-- 表單 -->
                <form @submit="formSubmit">
                    <div style="float: left ;width: 40%">
                        <strong>Name first:</strong>
                        <input type="text" class="form-control" v-model="fname">
                    </div>
                    <div style="float: left ;width: 60%;padding-left: 5px">
                        <strong>Name last:</strong>
                        <input type="text" class="form-control" v-model="lname">
                    </div>
                    <!-- 貨幣選項 -->
                    <div style="float: left">
                        <div>
                            <strong>貨幣選項:</strong>
                        </div>
                        <!-- 貨幣 from -->
                        <div style="float:left;margin-left:20px;width:10em;">
                            <b-form-group label="From:">
                                <b-form-radio v-model="selected" name="some-radios" value="VND">VND</b-form-radio>
                                <b-form-radio v-model="selected" name="some-radios" value="USD">USD</b-form-radio>
                                <b-form-radio v-model="selected" name="some-radios" value="RMB">RMB</b-form-radio>
                                <b-form-radio v-model="selected" name="some-radios" value="TWD">TWD</b-form-radio>
                            </b-form-group>
                            <!-- 顯示貨幣 from -->
                            <div>貨幣 from: <strong>{{ selected }}</strong></div>
                        </div>
                        <!-- 貨幣 to -->
                        <div style="float:left;margin-left:20px;width:10em;">
                            <b-form-group label="To:">
                                <b-form-radio v-model="selected1" name="some-radios1" value="A">Option A</b-form-radio>
                                <b-form-radio v-model="selected1" name="some-radios1" value="B">Option B</b-form-radio>
                            </b-form-group>
                            <!-- 顯示貨幣 to -->
                            <div>貨幣 to: <strong>{{ selected1 }}</strong></div>
                        </div>

                        <!-- 交易說明 -->
                        <div style="float:left;margin-left:200px;width:400px;">
                            <strong>交易說明:</strong>
                            <textarea class="form-control" v-model="description"></textarea>
                        </div>
                    </div>
                    <!-- 下拉選單 -->
                    <div style="width:30%;clear: both;">
                        <strong>列數選擇:</strong>
                        <b-form-select class="form-control" v-model="row" :options="options"></b-form-select>
                        <div>row: <strong>{{ row }}</strong></div>
                    </div>
                    <!-- 送出按鈕 -->
                    <div>
                        <button class="btn btn-success">Submit</button>
                    </div>
                </form>
            </div>
        </div>

        <!-- 查詢的資料輸出 -->
        <div>
            <ol>
                <li v-for="ii in info.data">
                    {{ii}}
                </li>
            </ol>
        </div>
    </div>

    <script>
        new Vue({
            el: '#app',
            data() {
                return {
                    row: 0,
                    msg: 12,
                    msg1: 2,
                    info: 0,
                    fname: "",
                    lname: "",
                    description: "",

                    selected: null,
                    selected1: null,
                    options: [{
                        value: 0,
                        text: '零'
                    }, {
                        value: 1,
                        text: "one"
                    }, {
                        value: 3,
                        text: 'three'
                    }, {
                        value: 20,
                        text: '20'
                    }, {
                        value: {
                            C: '3PO'
                        },
                        text: 'This is an option with object value'
                    }, {
                        value: 'd',
                        text: 'This one is disabled',
                        disabled: true
                    }]
                }
            },
            methods: {
                formSubmit(e) {
                    e.preventDefault();
                    axios
                        .get('http://www.vietthuan.com:8080', {
                            params: {
                                username: "hsiung",
                                password: "223344",
                                row: this.row,
                            }
                        })
                        .then(response => (this.info = response))
                        .catch(function(error) { // 请求失败处理
                            console.log(error);
                        });
                }
            },
            mounted() {
                axios
                    .get('http://www.vietthuan.com:8080', {
                        params: {
                            username: "hsiung",
                            password: "223344",
                            row: this.row,
                        }
                    })
                    .then(response => (this.info = response))
                    .catch(function(error) { // 请求失败处理
                        console.log(error);
                    });
            }
        })
    </script>
</body>

</html>